ClientWebServicesDgip/xml-resources/web-service-references/calcularhoras/wsdl/acefd04f361a.ngrok.io_80/WebServicesDgip/calcularhoras.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://UDDI/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://UDDI/">

<xs:element name="Calcular" type="tns:Calcular"/>

<xs:element name="CalcularResponse" type="tns:CalcularResponse"/>

<xs:complexType name="Calcular">
<xs:sequence>
<xs:element name="dia1" type="xs:double"/>
<xs:element name="dia2" type="xs:double"/>
<xs:element name="dia3" type="xs:double"/>
<xs:element name="dia4" type="xs:double"/>
<xs:element name="dia5" type="xs:double"/>
<xs:element name="valhora" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>